@font-face {
    font-family: 'Lifehack';
    src: url('Lifehack-Regular.woff2') format('woff2'),
        url('Lifehack-Regular.woff') format('woff'),
        url('Lifehack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

